<link rel="stylesheet" href="/css/tieude.css">
<header>
  <div id="menu">
    <ul>
      <li><a href="/user/controller" target="_self"><strong>Quản Lý</strong></a></li>
      <li><a href="/user/detail" target="_self"><strong>Thông tin</strong></a></li>
      <li><a href="/user/measureHistory" target="_self"><strong>Gần đây</strong></a></li>
    </ul>
  </div>
</header>