<head>
	<title>Quản lý</title>
	<link href="/css/login.css" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="/css/quanli.css" />

<body>

	<div class="container">
		<nav>
			<ul class="mcd-menu">
				<li>
					<a href="/admin/list_user" target="_self"  class="active">
						<i class="fa fa-home"></i>
						<strong>quản lý</strong>
						<small>admin</small>
					</a>
				</li>
				<li>
					<a href="/user/detail" target="_blank">
						<i class="fa fa-user"></i>
						<strong>cá nhân</strong>
						<small>admin</small>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-cog"></i>
						<strong>cài đặt</strong>
						<small>admin</small>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-refresh"></i>
						<strong>làm mới</strong>
						<small>admin</small>
					</a>
				</li>
				<li>
					<a href="/contact" target="_self">
						<i class="fa fa-envelope-o"></i>
						<strong>liên hệ</strong>
						<small>admin</small>
					</a>
				</li>
				<li>
					<a href="/acc/logout" target="_self">
						<i class="fa fa-sign-out"></i>
						<strong>đăng xuất</strong>
						<small>admin</small>
					</a>
				</li>
			</ul>
		</nav>



	</div>
</body>
