<head>
	<title>Home</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div>
		<div class="container">
			<header>
				<h1>Let's show your heart rate!</h1>
				<nav class="hea">
					<a href="/">Trang chủ</a>
					<a href="/acc/login">Đăng nhập</a>
					<a href="/contact">Chúng tôi</a>
				</nav>
			</header>

			<main>
				<article>
					<h3>Một số bệnh thường gặp</h3>
					<div class="new_list">
						<div class="news_item">
							<h4>
								Bệnh tim mạch vành
							</h4>
							<img src="/img/benh1.jpg" alt="">
							<div class="content">
								Cảm giác nặng ngực, khó thở.
								Xuất hiện cơn đau thắt ngực bên trái khi xúc động, gắng sức. Cơn đau thường xuất hiện vào
								buổi sáng.
								Nhức đầu, chóng mặt.
							</div>
						</div>
						<div class="news_item">
							<h4>
								Bệnh viêm cơ tim
							</h4>
							<img src="/img/benh4.jpg" alt="">
							<div class="content">
								Ở giai đoạn đầu, bệnh thường không có dấu hiệu và triệu chứng.
								Khi tiến triển nặng, triệu chứng có thể là: khó thở, đau ngực, sưng chân, huyết áp cao,
								chóng mặt.
							</div>
						</div>
						<div class="news_item" id="fix">
							<h4>
								Thiếu máu cơ tim
							</h4>
							<img src="/img/benh3.jpg" alt="">
							<div class="content">
								Xuất hiện cơn đau vùng ngực.
								Nhịp tim nhanh.
								Khó thở khi vận động
							</div>
						</div>
					</div>
				</article>
				<a href="https://careplusvn.com/vi/7-benh-tim-mach-thuong-gap-va-cac-trieu-chung-dien-hinh">Xem thêm</a>

				<article>
					<h3>Chuyên gia</h3>
					<div class="new_list">
						<div class="news_item">
							<h4>
								Bác sĩ Phạm Gia Khải
							</h4>
							<img src="/img/bs4.jpg" alt="">
							<div class="content">
								Chuyên gia Tim mạch đầu ngành cao cấp tại Việt Nam, bác sĩ Tim mạch nổi tiếng
								Nguyên Chủ tịch Hội Tim mạch học Việt Nam
								Nguyên là Viện trưởng Viện Tim mạch Việt Nam
								Nguyên Chủ tịch Hiệp hội Tim mạch Đông Nam Á (2008 - 2010)
							</div>
						</div>
						<div class="news_item">
							<h4>
								Bác sĩ Nguyễn Lân Việt
							</h4>
							<img src="/img/bs2.jpg" alt="">
							<div class="content">
								Chủ tịch Hội Tim mạch học Việt Nam
								Nguyên Viện trưởng Viện Tim mạch Việt Nam
								Nguyên Hiệu trưởng Trường Đại học Y Hà Nội
							</div>
						</div>
						<div class="news_item" id="fix">
							<h4>
								Phạm Thị Tuyết Nga
							</h4>
							<img src="/img/bs3.jpg" alt="">
							<div class="content">
								Trưởng khoa C2 (Khoa Điều trị tích cực) – Viện Tim mạch Việt Nam
								Nguyên Phó khoa C6 (Khoa Bệnh lý mạch máu, nhiễm độc thai nghén) – Viện Tim mạch Việt Nam
								Nguyên Giảng viên Khoa Nội Tim mạch – Đại Học Y Hà Nội
							</div>
						</div>
					</div>
				</article>
				<a href="https://bookingcare.vn/cam-nang/8-bac-si-kham-chua-tim-mach-gioi-tai-ha-noi-p20.html">Xem thêm</a>
				<article>
					<h3>các sản phẩm tương tự</h3>
					<div class="new_list">

						<div class="news_item">
							<h4>
								Instant Heart Rate đo nhịp tim bằng cách sử dụng camera và đèn flash của điện thoại
							</h4>
							<img src="/img/item4.jpg" alt="">
							<div class="content">
								Phiên bản Android hỗ trợ Google Fit.
								Phiên bản iOS có thể đồng bộ với Apple Health.
								Có sẵn trên iOS, Android và Windows Phone.
							</div>
						</div>
						<div class="news_item">
							<h4>
								Ứng dụng theo dõi nhịp tim tốt nhất cho bà mẹ mang thai: My Baby's Beat
							</h4>
							<img src="/img/item2.jpg" alt="">
							<div class="content">
								Một cách khá thông minh để các bà mẹ kết nối với đứa con sắp chào đời.
								Rất dễ dàng để ghi và phát lại các file âm thanh.
							</div>
						</div>
						<div class="news_item" id="fix">
							<h4>
								Ứng dụng theo dõi tim liên kết với nhiều mạng xã hội nhất: Runtastic Heart Rate
							</h4>
							<img src="/img/item3.jpg" alt="">
							<div class="content">
								Đồng bộ dữ liệu vào cùng một tài khoản Runtastic được sử dụng trên các ứng dụng khác.
								Dễ dàng chia sẻ dữ liệu nhịp tim trên mạng xã hội và WhatsApp.
							</div>
						</div>
					</div>
				</article>
				<a href="https://quantrimang.com/ung-dung-theo-doi-nhip-tim-170519">Xem thêm</a>

			</main>

			
			<footer class="footer-distributed">

				<div class="footer-left">

					<h3>DAVDK<span>group</span></h3>

					<p class="footer-links">
						<a href="#" class="link-1">Trang chủ</a>

						<a href="#">Chúng tôi</a>

						<a href="#">Liên hệ</a>
					</p>

					<p class="footer-company-name">DAVDK © 2021</p>
				</div>

				<div class="footer-center">

					<div>
						<i class="fa fa-map-marker"></i>
						<p><span>Đại học Bách Khoa Đà Nẵng</span> Liên Chiểu, Đà Nẵng</p>
					</div>

					<div>
						<i class="fa fa-phone"></i>
						<p>+8423345779</p>
					</div>

					<div>
						<i class="fa fa-envelope"></i>
						<p><a href="mailto:support@company.com">duyduonglee81@gmail.com</a></p>
					</div>

				</div>

				<div class="footer-right">

					<p class="footer-company-about">
						<span>Về Chúng tôi</span>
						DAVĐK luôn đồng hành cùng các bạn, nơi của trách nhiệm và chất lượng!
					</p>

					<div class="footer-icons">

						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>

					</div>

				</div>

			</footer>
		</div>
	</div>

</body>