
<link rel="stylesheet" href="/css/tieudequanli.css">
<header>
    <div id="menu">
        <ul>
            <li><a href="/admin/controller"><strong>Quản Lý</strong></a></li>
            <li><a href="/admin/list_user" target="_self"><strong>Danh sách</strong></a></li>
            <li><a href="/admin/addUser" target="_self"><strong>Thêm user</strong></a></li>
            <li><a href="/admin/measureHistoryList" target="_self"><strong>Lịch Sử Đo</strong></a></li>
        </ul>
    </div>

</header>
